Repository apathetic-idleon/guide, changes with the labels that .github/labeler.yml gives for each.
All labels: ðŸš¨ action, i18n, ðŸ“š guide, ðŸŒŸ core

remove icons
  .github/ISSUE_TEMPLATE/1-content.yml
  .github/ISSUE_TEMPLATE/2-bugs.yml
Labels: none

heading change
  .github/ISSUE_TEMPLATE/2-bugs.yml
Labels: none

moved section
  .github/ISSUE_TEMPLATE/1-content.yml
  .github/ISSUE_TEMPLATE/2-bugs.yml
Labels: none

placeholder text
  .github/ISSUE_TEMPLATE/2-bugs.yml
Labels: none

heading size
  .github/ISSUE_TEMPLATE/1-content.yml
Labels: none

reminder heading
  .github/ISSUE_TEMPLATE/1-content.yml
Labels: none

order of text
  .github/ISSUE_TEMPLATE/1-content.yml
Labels: none

italics
  .github/ISSUE_TEMPLATE/1-content.yml
Labels: none

no italic in headers
  .github/ISSUE_TEMPLATE/1-content.yml
  .github/ISSUE_TEMPLATE/2-bugs.yml
Labels: none

icons first
  .github/ISSUE_TEMPLATE/1-content.yml
  .github/ISSUE_TEMPLATE/2-bugs.yml
Labels: none

spacing
  .github/ISSUE_TEMPLATE/1-content.yml
  .github/ISSUE_TEMPLATE/2-bugs.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

hard space
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

non-breaking space
  .github/ISSUE_TEMPLATE/1-content.yml
  .github/ISSUE_TEMPLATE/2-bugs.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

icons on right
  .github/ISSUE_TEMPLATE/1-content.yml
  .github/ISSUE_TEMPLATE/2-bugs.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: none

remove discord link
  .github/ISSUE_TEMPLATE/1-content.yml
  .github/ISSUE_TEMPLATE/2-bugs.yml
Labels: none

site pages
  CONTRIBUTING.md
  LICENSE
  NOTICE
  config/footer.ts
  config/hosting.ts
  src/content/docs/site/code_of_conduct.mdx
  src/content/docs/site/contribute.mdx
  src/content/docs/site/credits.mdx
  src/content/docs/site/usage.mdx
Labels: ðŸ“š guide, ðŸŒŸ core

formatting
  src/content/docs/site/contribute.mdx
  src/content/docs/site/credits.mdx
  src/content/docs/site/usage.mdx
Labels: ðŸ“š guide, ðŸŒŸ core

rename
  DEPENDENCIES.md
  package.json
Labels: none

dependencies
  DEPENDENCIES.md
  ROADMAP.md
Labels: none

move integrations to code
  src/integrations/dev-server-file-watcher.ts
  src/integrations/starlight-work-after-plugins.ts
Labels: ðŸŒŸ core

.github/labeler.yml:

# This file is part of the Apathetic Guide to IdleOn project.
#
# Apathetic Tools Â© 2025 (https://github.com/apathetic-tools)
#
# This source code is dual-licensed:
#  - Under the GNU Affero General Public License v3.0 (AGPLv3).
#  - Under alternative licensing terms by the copyright holder.
#
# See `LICENSE-CODE` for details.
#
# SPDX-License-Identifier: AGPL-3.0-or-later
#
# Inspired by withastro/starlight Â· MIT
# https://raw.githubusercontent.com/withastro/starlight/refs/heads/main/.github/labeler.yml

# See https://github.com/actions/labeler
'ðŸš¨ action':
  - changed-files:
      - any-glob-to-any-file:
          - .github/workflows/**

i18n:
  - changed-files:
      - any-glob-to-any-file:
          - src/content/docs/de/**/*
          - src/content/docs/es/**/*
          - src/content/docs/fr/**/*
          - src/content/docs/it/**/*
          - src/content/docs/ja/**/*
          - src/content/docs/zh-cn/**/*
          - src/content/docs/pt-br/**/*
          - src/content/docs/pt-pt/**/*
          - src/content/docs/ko/**/*
          - src/content/docs/ru/**/*
          - src/content/docs/id/**/*
          - src/content/docs/tr/**/*
          - src/content/docs/hi/**/*
          - src/content/docs/da/**/*
          - src/content/docs/uk/**/*

'ðŸ“š guide':
  - changed-files:
      - any-glob-to-any-file:
          - src/content/**

'ðŸŒŸ core':
  - changed-files:
      - any-glob-to-any-file:
          - src/**
